@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


* {
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
}

body {
  font-family: "Jersey 10", sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 0, 101);
  color: rgb(255, 225, 33);
  width: 100%;
}

h1 {
  margin-top: 0;
  font-size: 64px;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}



.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  padding: 0;
  text-align: center;
  width: 68px;
}


.status {
  margin: 16px;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {

}

.reset {
  margin: 16px 64px;
  padding: 10px 40px;
  background-color: rgb(255, 225, 33);
  color: rgb(101, 0, 101);
  font-size: 18px;
}
